---
import Layout from '../layouts/Layout.astro';
import backgroundImg from '../assets/images/background.jpg'
import help1 from '../assets/images/help1.png'
import help2 from '../assets/images/help2.png'
import help3 from '../assets/images/help3.png'
import help4 from '../assets/images/help4.png'

const list = [
	{
		img: help1,
		infoA: 'Q：显示“在线图片加载失败，已加载内建图片”是什么原因？',
    infoQ: 'A：点击搜索框最左边的的搜索引擎图标可以更换搜索引擎，包括：Google、bing、百度。'
	},
	{
		img: help2,
		infoQ: 'Q：显示“在线图片加载失败，已加载内建图片”是什么原因？',
    infoA: 'A：因为您的网络可能未能及时获取到背景图片的链接，刷新一下可以尝试重新获取。'
	},
	{
		img: help3,
		infoQ: 'Q：书签自定义链接无效是什么原因？',
    infoA: 'A：请以 “http://” 或 “https://” 为开头设置连接，其他形式的连接无效。'
	},
	{
		img: help4,
		infoQ: 'Q：如何恢复原书签位的书签？',
    infoA: 'A：以空白为连接设置即可恢复原书签位书签。'
	}
]
---

<Layout title="uyou 新标签页">
	<main
		style={{backgroundImage: `url(${backgroundImg})`}}
		class="w-screen h-screen bg-no-repeat bg-cover mt--19 flex items-center overflow-scroll flex-col pt-25 flex-gap-5 pb-10"
	>
		{list.map(item => (
			<div class="w-90vw flex bg-white/50 backdrop-blur-md p-5 rounded-5 flex-col md:flex-row md:w-60vw">
				<img
					src={item.img}
					class="w-auto md:w-130 mr-0 mb-10 md:mb-0 md:mr-10 rounded-3"
				/>
				<div class="flex flex-col">
					<span class="text-5 font-bold">{item.infoQ}</span>
					<span class="text-5 font-bold">{item.infoA}</span>
				</div>	
			</div>
		))}
	</main>
</Layout>
