---
import Layout from '../layouts/Layout.astro';
import HomeInfo from '../components/HomeInfo/index.astro'
import demo1 from '../assets/images/onepic.png'
import demo2 from '../assets/images/setpic.png'
import demo3 from '../assets/images/mobilepic.png'
---

<Layout title="uyou 新标签页">
	<main>
		<HomeInfo />
		<div class="flex flex-col-reverse md:flex-row justify-between p-10 items-center dark:bg-gray-900">
			<span class="md:text-10 font-bold mt-5 md:mt-0 dark:c-white">自定义搜索引擎</span>
			<img 
				src={demo1} 
				alt=""
				class="w-150 rounded-5 md:rounded-10"
			>
		</div>
		<div class="flex flex-col-reverse md:flex-row-reverse justify-between p-10 items-center bg-blue-500 dark:bg-blue-900">
			<span class="md:text-10 font-bold c-white mt-5 md:mt-0">设置</span>
			<img 
				src={demo2} 
				alt=""
				class="w-150 rounded-5 md:rounded-10"
			>
		</div>
		<div class="flex flex-col-reverse md:flex-row justify-between p-10 items-center dark:bg-gray-900">
			<span id="demo3Text" class="md:text-10 font-bold mt-5 md:mt-0 dark:c-white">移动端页面</span>
			<img 
				id="demo3"
				src={demo3} 
				alt=""
				class="w-150 rounded-5 md:rounded-10"
			>
		</div>
	</main>
</Layout>

<script>
	import demoMobile from '../assets/images/mobilepic.png'
	import demoDesk from '../assets/images/mobile/mobilepic.png'

	const setImg = () => {
		if (window.innerWidth < 768) {
			(document.querySelector('#demo3') as HTMLImageElement).src = demoDesk;
			(document.querySelector('#demo3Text') as HTMLSpanElement).innerText = '桌面端页面'
		} else {
			(document.querySelector('#demo3') as HTMLImageElement).src = demoMobile;
			(document.querySelector('#demo3Text') as HTMLSpanElement).innerText = '移动端页面'
		}
	}
	setImg()

	window.addEventListener('resize', setImg)
</script>