---
import edgeImg from '../../assets/images/Edge.png'
import chromeImg from '../../assets/images/chrome.png'
import githubImg from '../../assets/images/GitHub.png'
import crxImg from '../../assets/images/crx.png'
import extImg from '../../assets/images/extension.png'

const list = [
  {
    title: 'edge 扩展商店',
    icon: edgeImg,
    url: 'https://microsoftedge.microsoft.com/addons/detail/uyou-%E6%96%B0%E6%A0%87%E7%AD%BE%E9%A1%B5/jlgjnfcoogajiefbjcmokohhpoedpdhh'
  },
  {
    title: 'chrome 网上应用店',
    icon: chromeImg,
    url: 'https://chrome.google.com/webstore/detail/uyou-%E6%96%B0%E6%A0%87%E7%AD%BE%E9%A1%B5/ecdbpdmfhdnklemcfooinlnjilnlgdnl?hl=zh-CN&authuser=0'
  },
  {
    title: 'GitHub 主页',
    icon: githubImg,
    url: 'https://github.com/tonylu110/uyouNewTab'
  },
  {
    title: '离线版下载 密码:9ye0',
    icon: crxImg,
    url: 'https://tonylu.lanzoup.com/b0efdn2tc'
  },
  {
    title: 'crx 下载 密码:9ixn',
    icon: crxImg,
    url: 'https://tonylu.lanzouf.com/b0efks32d'
  },
  {
    title: '网页版 beta',
    icon: extImg,
    url: 'https://uyoutab.uyou.org.cn'
  }
]
---

<div class="flex flex-wrap w-94 md-w-156 mt-10 flex-gap-4">
  {list.map(item => (
    <a 
      href={item.url} 
      target="_blank"
      class="h-15 md:h-20 w-45 md:w-70 bg-white/50 flex items-center p-2.5 md:p-5 rounded-35 backdrop-blur-md shadow-md hover:bg-white/70 cursor-pointer"
    >
      <img 
        src={item.icon} 
        alt=""
        class="h-10 mr-3 md:mr-5"
      >
      <span class="text-4 c-black select-none">{item.title}</span>  
    </a>
  ))}
</div>